.card {
  width: 250px;
  max-width: fit-content;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  

}

label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  font-weight: 700;
}
.stars{
  color: orange;
}
.username{
  font-size: 14px;
}
.desc{
  font-size: larger;
  font-weight: 500;
}
.input{
  border: none;
  width: 210px;
}

.btn{
  background-color: tomato;
  color: white;
  border: none;
  padding: 8px 0px;
  margin-top: 12px;
  font-weight: 900;
  cursor: pointer;

}

.nav{
  display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    padding-bottom: 9px;
    padding-right: 20px;
    background-color: #9BCDD2;
}

.logout{
  background-color: tomato;
  padding: 13px;
  font-size: 1rem;
  border-radius: 20px;

}
.login{
  background-color: teal;
  padding: 13px;
  font-size: 1rem;
  border-radius: 20px;

}
.register{
  background-color: slateblue;
  padding: 13px;
  font-size: 1rem;
  border-radius: 20px;
}
.user{
  background-color: tomato;
  padding: 13px;
  font-size: 1rem;
  border-radius: 20px;
}

/* Register  */
 
.register-container form{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.registerBtn{
  padding: 13px;
  font-size: 1rem;
  border-radius: 20px;
}

.register-container form input{
  padding: 10px;
   
  margin-bottom: 3px;
}
.register-container{
  
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%,-50%);
   width: 500px;
   
   
}
.success{
  color: green;
}
.error{
  color:red
}
