.card {
  width: 250px;
  max-width: fit-content;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  font-weight: 700;
}
.stars{
  color: orange;
}
.username{
  font-size: 14px;
}
.desc{
  font-size: larger;
  font-weight: 500;
}
.input{
  border: none;
  width: 210px;
}

.btn{
  background-color: tomato;
  color: white;
  border: none;
  padding: 8px 0px;
  margin-top: 12px;
  font-weight: 900;
  cursor: pointer;

}